<h2>Результат @ViewBag.Type</h2>

<p>Было: </p>
<textarea readonly cols="50" rows="5">@ViewBag.Data </textarea>
<p>Ключ: @ViewBag.Key</p>
<p>Стало: </p>
<textarea readonly cols="50" rows="5">@ViewBag.Result </textarea>
<form action="/Home/Download/">
    <input type="hidden" name="result" value="@ViewBag.Result" />
    <input type="submit" value="Скачать .docx" />
</form>
<p><a href="/../">Назад</a></p>

<link rel="stylesheet" href="~/styles/style.css" />

@*<video controls="" loop="" autoplay="" name="media" preload="auto" hidden>
    <source src="~/music/music.wav" type="audio/mp3">
</video>*@